################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
/XMLHandlerDebugApp/obj
/XMLHandlerDebugApp/bin/Debug
