################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyControlsLibrary/v15/Server
/.vs/MyControlsLibrary/DesignTimeBuild
/MyControlsLibrary/obj
/MyControlsLibrary/bin/Debug
/TitleBarDebugApp/bin
/TitleBarDebugApp/obj
/LoadingDebugApp/bin/Debug
/LoadingDebugApp/bin/Release/LoadingDebugApp.exe.config
/LoadingDebugApp/obj
/MiscFunctionsLibrary/bin/Debug
/MiscFunctionsLibrary/obj
/XMLHandlerDebugApp/bin/Debug
/XMLHandlerDebugApp/obj
/XMLHandlerDebugApp/bin/Release/MiscFunctionsLibrary.pdb
/XMLHandlerDebugApp/bin/Release/XMLHandlerDebugApp.exe.config
/XMLHandlerDebugApp/bin/Release/XMLHandlerDebugApp.pdb
/MiscFunctionsLibrary/bin/Release/MiscFunctionsLibrary.pdb
/XMLHandlerDebugApp/bin/Release/seriesConfig.xml
/XMLHandlerDebugApp/bin/Release/MiscFunctionsLibrary.dll
