################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyControlsLibrary/v15/Server
/.vs/MyControlsLibrary/DesignTimeBuild
/MyControlsLibrary/obj
/MyControlsLibrary/bin/Debug
/TitleBarDebugApp/bin
/TitleBarDebugApp/obj
/LoadingDebugApp/bin/Debug
/LoadingDebugApp/bin/Release/LoadingDebugApp.exe.config
/LoadingDebugApp/obj
/MiscFunctionsLibrary/bin/Debug
/MiscFunctionsLibrary/obj
/XMLHandlerDebugApp/bin/Debug
/XMLHandlerDebugApp/obj